<style type="text/css">
	.big-logo-row {
		background-image: url("<%= @event.image_url %>")	
	</style>
	<a name="content"> </a>
	<div class="container-fluid home-thing pad100 bg<%= @event.position %>">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<h2><strong><%= @event.title %></strong></h2>
				<% if @event.event_date? %>
				<h3><%= @event.human_location %> | $<%= @event.cost %> | <%= @event.event_date.strftime('%A, %b %e, %l:%M %p') %></h3>
				<% else %>
				<h3><%= @event.human_location %> | $<%= @event.cost %> | Any Time</h3>
				<% end %> 
				<p class="lead"><%= @event.description %></p>
				<p><%= @event.long_desc.gsub(/\n/, '<br/>') %></p>
				<center>
					<a href="<%= @event.link %>" target="_blank"><button class="btn-spec btn-6 btn-6c">check it out</button></a>
					<a href="/#<%= @event.position %>"><button class="btn-spec btn-6 btn-6c">back to the five</button></a>
				</center>
				<br/>

				<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MH5MAPSAPI'] %>&callback=initMap"
					></script>

				<script>
					var map;
					function initMap() {
						map = new google.maps.Map(document.getElementById('map'), {
							center: {lat: <%= @event.lat %>, lng:  <%= @event.lng %>},
							zoom: 16
						});
						var marker = new google.maps.Marker({
							position: {lat: <%= @event.lat %>, lng:  <%= @event.lng %>},
							map: map,
							title: 'Hello World!'
						});
					}
				</script>
				<div class="map_container">
					<div id="map_canvas" class="map_canvas"><div id="map"></div></div>
				</div>

			</div>
		</div>
	</div>


