<style type="text/css">
	.navbar, .big-logo-row {
		display: none;	}
	</style>




	<div class="container">

		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<center>
					<h1>Mile High Five Admin</h1>
					<h3>The current week is <%= @weeknumber %></h3>
					<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
						+ new thing
					</button>
					<br>
					<br>
				</center>
				<% @eventweeks.sort.each do |week| %>
				<div class="panel panel-default">
					<!-- Default panel contents -->
					<div class="panel-heading"><h2 class="panel-title">Week <%= week %></h2></div>


					<!-- Table -->
					<table class="table">
						<thead>
							<tr>
								<th>Event Name</th>
								<th>Edit</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							<% (@event.where(week: week).sort_by &:position).each do |event| %>
							<tr data-id="<%= event.id %>">
								<td>
									<p><%= event.title %></p>
								</td>
								<td><a href="/admin/event/<%= event.id %>/edit"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
								</td>
								<td><a href="#"><span class="glyphicon glyphicon-trash delete" aria-hidden="true"></span></a>
								</td>
								</tr>
								<% end %>
							</tbody>
						</table>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Add a new thing</h4>
				</div>
				<div class="modal-body">
					<form action="/admin" method="post" role="form" id="create-event-form">
						<div class="form-group">
							<label for="title">Title:</label>
							<input type="text" class="form-control" id="title" name="event[title]">
						</div>
						<div class="form-group">
							<label for="week">Week:</label>
							<input type="text" class="form-control" id="week" name="event[week]">
						</div>
						<div class="form-group">
							<label for="title">Position:</label>
							<input type="text" class="form-control" id="position" name="event[position]">
						</div>
						<div class="form-group" id="locationField">
							<label for="autocomplete">Location:</label>
							<input class="form-control" id="autocomplete" onFocus="geolocate()">
						</div>
						<div class="form-group">
							<label for="placename">Place Name:</label>
							<input type="text" class="form-control" id="placename" name="event[human_location]">
						</div>
						<div class="form-group">
							<label for="lat">Lattitude:</label>
							<input type="text" class="form-control" id="lat" name="event[lat]">
						</div>
						<div class="form-group">
							<label for="lng">Longitude:</label>
							<input type="text" class="form-control" id="lng" name="event[lng]">
						</div>
						<div class="form-group">
							<label for="link">Link:</label>
							<input class="form-control" id="link" name="event[link]">
						</div>
						<div class="form-group">
							<label for="image-link">Image Link:</label>
							<input class="form-control" id="image-link" name="event[image_url]">
						</div>
						<div class="form-group">
							<label for="date">Date:</label>
							<div class='input-group date' id='date'>
								<input type='text' class="form-control" name="event[event_date]"/>
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div>
						<script type="text/javascript">
							$(function () {
								$('#date').datetimepicker();
							});
						</script>
						<div class="form-group">
							<label for="shortdesc">Short Description:</label>
							<textarea class="form-control" id="shortdesc"></textarea>
						</div>
						<div class="form-group">
							<label for="longdesc">Long Description:</label>
							<textarea class="form-control" id="longdesc"></textarea>
						</div>
						<div class="form-group">
							<label for="cost">Cost:</label>
							<input class="form-control" id="cost">
						</div>

						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<input type="submit" value="Create" class="btn btn-primary"></input>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MH5MAPSAPI'] %>&libraries=places&callback=initAutocomplete"
		async defer></script>
