<style type="text/css">
	.big-logo-row {
  background-image: url("/images/ferriswheel.jpg")	
</style>


<% @event.each do |event| %>
     
<div class="container-fluid pad100 bg<%= event.position %>">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 text-center">
			<h2><strong><%= event.title %></strong></h2>
			<% if event.event_date? %>
			<h3><%= event.human_location %> | <%= event.event_date.strftime('%A, %b %e, %l:%M %p') %></h3>
			<% else %>
			<h3><%= event.human_location %> | Any Time</h3>
			<% end %>
			<br/>
			<h4><%= event.description %></h4>
			<br/>
			<center>
			<a href="/events/<%= event.id %>#content"><button class="btn-spec btn-6 btn-6c">do this thing</button></a>
			</center>
		</div>
	</div>
</div>

<% end %>


<!--
<div class="container-fluid bg1" id="thing1">
	<div class="row">
		<div class="col-sm-3 col-sm-offset-3">
			<h2>Drink a beer by the river</h2>
		</div>
		<div class="col-sm-3 text-right">
			<3h>Any Time</h3>
		</div>

	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<p>There's not much water here, but this is one of the best ways to experience the water that we do have.</p>
		</div>
	</div>
</div>

<div class="container-fluid bg2" id="thing2">
	<h2>Lorem ipsum</h2>
	<p>Dolor sit amet, consectetur adipisicing elit. Id maxime repellat repellendus porro voluptas laudantium similique eveniet quis perferendis beatae commodi sunt ullam provident dolorum doloribus esse accusamus dolores. Corrupti.</p>
	<p>Consectetur incidunt voluptatibus ipsa nisi esse eos deleniti repudiandae at quo sit praesentium nemo optio perspiciatis sequi quaerat voluptates minus reprehenderit doloremque accusamus et quisquam nesciunt sunt consequatur explicabo excepturi!</p>
	<p>Sequi facilis ea dolor asperiores quibusdam eveniet optio corporis et accusantium voluptatem architecto quis iste recusandae molestias dolorem soluta ex blanditiis illo impedit laborum iusto? Iure sapiente eos molestiae est?</p>
	<p>Numquam delectus recusandae nesciunt rem itaque harum corporis maxime hic iste molestias adipisci excepturi ullam libero necessitatibus cum eum modi minus obcaecati est nemo quia velit earum perferendis consectetur porro?</p>
</div>

<div class="container-fluid bg3" id="thing3">
	<h2>Lorem ipsum</h2>
	<p>Dolor sit amet, consectetur adipisicing elit. Id maxime repellat repellendus porro voluptas laudantium similique eveniet quis perferendis beatae commodi sunt ullam provident dolorum doloribus esse accusamus dolores. Corrupti.</p>
	<p>Consectetur incidunt voluptatibus ipsa nisi esse eos deleniti repudiandae at quo sit praesentium nemo optio perspiciatis sequi quaerat voluptates minus reprehenderit doloremque accusamus et quisquam nesciunt sunt consequatur explicabo excepturi!</p>
	<p>Sequi facilis ea dolor asperiores quibusdam eveniet optio corporis et accusantium voluptatem architecto quis iste recusandae molestias dolorem soluta ex blanditiis illo impedit laborum iusto? Iure sapiente eos molestiae est?</p>
	<p>Numquam delectus recusandae nesciunt rem itaque harum corporis maxime hic iste molestias adipisci excepturi ullam libero necessitatibus cum eum modi minus obcaecati est nemo quia velit earum perferendis consectetur porro?</p>
</div>

<div class="container-fluid bg4" id="thing4">
	<h2>Lorem ipsum</h2>
	<p>Dolor sit amet, consectetur adipisicing elit. Id maxime repellat repellendus porro voluptas laudantium similique eveniet quis perferendis beatae commodi sunt ullam provident dolorum doloribus esse accusamus dolores. Corrupti.</p>
	<p>Consectetur incidunt voluptatibus ipsa nisi esse eos deleniti repudiandae at quo sit praesentium nemo optio perspiciatis sequi quaerat voluptates minus reprehenderit doloremque accusamus et quisquam nesciunt sunt consequatur explicabo excepturi!</p>
	<p>Sequi facilis ea dolor asperiores quibusdam eveniet optio corporis et accusantium voluptatem architecto quis iste recusandae molestias dolorem soluta ex blanditiis illo impedit laborum iusto? Iure sapiente eos molestiae est?</p>
	<p>Numquam delectus recusandae nesciunt rem itaque harum corporis maxime hic iste molestias adipisci excepturi ullam libero necessitatibus cum eum modi minus obcaecati est nemo quia velit earum perferendis consectetur porro?</p>
</div>

<div class="container-fluid bg5" id="thing5">
	<h2>Lorem ipsum</h2>
	<p>Dolor sit amet, consectetur adipisicing elit. Id maxime repellat repellendus porro voluptas laudantium similique eveniet quis perferendis beatae commodi sunt ullam provident dolorum doloribus esse accusamus dolores. Corrupti.</p>
	<p>Consectetur incidunt voluptatibus ipsa nisi esse eos deleniti repudiandae at quo sit praesentium nemo optio perspiciatis sequi quaerat voluptates minus reprehenderit doloremque accusamus et quisquam nesciunt sunt consequatur explicabo excepturi!</p>
	<p>Sequi facilis ea dolor asperiores quibusdam eveniet optio corporis et accusantium voluptatem architecto quis iste recusandae molestias dolorem soluta ex blanditiis illo impedit laborum iusto? Iure sapiente eos molestiae est?</p>
	<p>Numquam delectus recusandae nesciunt rem itaque harum corporis maxime hic iste molestias adipisci excepturi ullam libero necessitatibus cum eum modi minus obcaecati est nemo quia velit earum perferendis consectetur porro?</p>
</div>

-->