<style type="text/css">
	.big-logo-row {
  background-image: url("/images/ferriswheel.jpg")	
</style>

<% @event.each do |event| %>
<a name="<%= event.position %>"> </a>     
<div class="container-fluid pad100 bg<%= event.position %>">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 text-center">
			<h2><strong><%= event.title %></strong></h2>
			<% if event.event_date? %>
			<h3><%= event.human_location %> | <%= event.event_date.strftime('%A, %b %e, %l:%M %p') %></h3>
			<% else %>
			<h3><%= event.human_location %> | Any Time</h3>
			<% end %>
			<br/>
			<h4><%= event.description %></h4>
			<br/>
			<center>
			<a href="/events/<%= event.id %>#content"><button class="btn-spec btn-6 btn-6c">do this thing</button></a>
			</center>
		</div>
	</div>
</div>

<% end %>